/helloworld-weld-se/.classpath
/helloworld-weld-se/.project
/helloworld-weld-se/.settings/
/helloworld-weld-se/target/
/.DS_Store
.DS_Store
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.maven.ide.eclipse.prefs
/helloworld-weld-se/.settings/org.eclipse.jdt.core.prefs
/helloworld-weld-se/.settings/org.maven.ide.eclipse.prefs
/montecarlo/.classpath
/montecarlo/.project
/montecarlo/.settings/
/archiver/archiver-list/.classpath
/archiver/archiver-list/.project
/archiver/archiver-list/.settings/
/archiver/archiver-list/target/
derby.log